@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Hide scrollbar but keep scroll functionality */

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none;
    }

    html,
    body {
        -ms-overflow-style: none; /* IE 10+ */
        scrollbar-width: none; /* Firefox */
    }
    
    * {
        @apply m-0 p-0 box-border;
    }

    body {
        @apply text-base bg-white dark:bg-gray-900 text-gray-800 dark:text-gray-300 font-normal leading-normal scroll-smooth;
    }
    h1 {
        @apply text-5xl xs:text-6xl font-semibold;
    }
    h2 {
        @apply text-4xl xs:text-5xl font-medium;
    }
    h3 {
        @apply text-xl;
    }
}

@layer utilities {
    .clip-angled {
        clip-path: polygon(28% 0%, 100% 0%, 70% 100%, 0% 100%);
    }
    .section-gap {
        @apply mb-16 md:mb-[150px];
    }

    .modal-open {
        overflow: hidden;
    }

    .navbar-bg {
        background: linear-gradient(
            104.7deg,
            rgba(233, 239, 251, 0.91) -22.47%,
            rgba(251, 236, 254, 0.91) 103.83%
        );
    }

    /* Hide input indicator for number type field Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Hide input indicator for number type field Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

.card_gradient {
    background: linear-gradient(
        104.7deg,
        rgba(233, 239, 251, 0.91) -22.47%,
        rgba(251, 236, 254, 0.91) 103.83%
    );
}
.card_gradient_dark {
    background: #130025;
}
